*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.categcont{
    display: flex;
flex-wrap: wrap;
align-items: flex-start;
gap: 23px;
flex-shrink: 0;
width: 100%;
}

.cat{
    display: flex;
width: calc(50% - 12px);padding: 25px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
min-width: 300px;
border-radius: 16px;
border: 0.59px solid #E5E7EB;
background: #FFF;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.row1cat{
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.catimg{
    width: 50px;
    border-radius: 16px;
    height: 50px;
    overflow: hidden;
}

.catimg img{
    width: 100%;
    height: 100%;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label h2{
    color: #1A1A1A;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
}

.label h4{
    color: #6B7280;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.events{
    display: flex;
    padding: 15px 0;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-top: 0.59px solid #E5E7EB;
}

.events span{
    color: #6B7280;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.events h5{
    color: #2F91F8;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}

.bookingc{
    display: flex;
width: 31.619px;
height: 25.705px;
padding: 2.995px 0 2.71px 0;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 20px;
background: rgba(47, 145, 248, 0.10);
color: #2F91F8;
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}
.burger{
    outline: none;
    border: none;
    background-color: white;
    display: none;
}
@media (max-width: 1060px) {
.content{
    width: 100%;
}
.burger{
    display: flex;
    cursor: pointer;
}
.sidenav{
    position: absolute;
    width: 250px;
    box-shadow: 8px 0 13.6px 0 rgba(0, 0, 0, 0.25);
    left: 0;
            transform: translateX(-500px);
}
.sidenav.open {
        transform: translateX(0);
        transition: all 300ms ease;
    }
}