*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clicked{
    display: flex;
padding: 12px 16px;
justify-content: center;
align-items: center;
border-radius: 16px;
background: #2F91F8;
color: #FFF;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
outline: none;
border: none;
cursor: pointer;
line-height: 24px; /* 150% */
gap: 5px;

}

.disabeled{
    display: flex;
padding: 12px 16px;
justify-content: center;
align-items: center;
border-radius: 16px;
border: none;
background: #F3F4F6;
cursor: pointer;
outline: none;
color: #1A1A1A;
text-align: center;
font-family: Outfit;
gap: 5px;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */

}